*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    max-width: 900px;
    margin: 0px auto;
}
.row{
    width: 100%;
    padding: 7px;
    margin: 5px;
}
.heading-2{
    font-size: 30px;
    color: blueviolet;
}
.btn{
    border: none;
    outline: none;
    border: 1px solid purple;
    padding: 5px 10px;
}
.btn-manage{
    background-color: blueviolet;
    border: 1px solid violet;
    color: azure;
    border-radius: 5px ;
    margin-bottom: 5px;
}
.btn-manage:hover{
    background-color: rgb(171, 128, 211);
    cursor: pointer;
}
.btn-warning{
    background-color: blueviolet;
    border: 1px solid violet;
    color: azure;
    border-radius: 5px ;
    margin-bottom: 5px;
}
.btn-warning:hover{
    background-color: rgba(203, 12, 209, 0.425);
    cursor: pointer;
}
.btn-warning-1{
    background-color: rgb(248, 131, 53);
    border: 1px solid rgb(235, 137, 73);
    color: azure;
    border-radius: 5px ;
    margin-bottom: 5px;
}
.btn-warning-1:hover{
    background-color: rgb(196, 21, 21);
    cursor: pointer;
}
.table{
    width: 100%;
    background-color: rgb(212, 184, 238);
}
.table , table>tr .table>th .table>td{
    border-collapse: collapse;
}
.table>thead>tr>th{
    background-color: rgb(170, 111, 224);
    color: blanchedalmond;
}
.avatar-sm{
    width: 50px;
    height: 50px;
    border-radius: 15%;
}
.avatar-lg{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
.text-center{
    text-align: center;
}
.table>tbody>tr:hover{
    background-color: rgb(102, 17, 182);
    color: azure;
}
.build-container{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}
.show{
    opacity: 1;
    pointer-events: auto;
}
.build {
    width: 600px;
    background-color:aliceblue ;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
}
.build-header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.close-build{
    transform: scale(1.1);
    cursor: pointer;
}
.create-member{
    display: flex;
    justify-content: space-between;
}
.member-info {
    width: 60%;
}
.form-group{
    display: flex;
    margin: 3px 0px;
}
.form-group label{
    width: 20%;

}
.form-control{
    flex-grow: 1;
    padding: 5px;
}
.mr{
    margin-right: 5px;
}
.d-none{
    display: none;
}
#pagination{
    list-style: none;
    display: flex;
}

.paging{
    position: relative;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 50%);
  }
.tbn-page{
    border: none;
    outline: none;
    padding: 10px;
    border: 1px solid rgba(151, 38, 151, 0.596);
    border-radius: 3px;
    margin-right: 2px;
}

.tbn-page:hover{
    background-color: rgba(216, 66, 216, 0.623);
    cursor: pointer;
}
.active{
    background-color: rgba(234, 0, 255, 0.589);
    color: white;
}
.paging-area{
    display: flex; 
}
#fix:hover{
scale: 1.5;
}